body{
    background-color: rgb(236, 233, 233);
    margin: 0;
}

.header{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
}

nav li{
    display: inline;
}

.lateral{
    background-color: #9AA4FF;
    width: 200px;
    height: 100vh;
}

.footer{
    background-color: #5869ff;
    width: 200px;
    height: 50px;
}