@media only screen and (max-width: 400px){
    body{
        background-color: black;
    } 
}

@media only screen and (min-width: 401px) and (max-width: 960px){
    body{
        background-color: rgb(224, 224, 224);
    }
}

@media only screen and (min-width: 961px){
    body{
        background-color: FFFFFF;
    }
}


.container{
    width: 450px;
    height: 350px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input{
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 3px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 1em;
    margin-bottom: 3px;
}

#logo{
    margin: 0 auto;
    display: block;
    width: 200px;  
    height: 200px;
}

.footer{
    background-color: #9AA4FF;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    
}